<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true"
         bootstrap="tests/bootstrap.php" verbose="true">

    <coverage>
        <include>
            <directory>src</directory>
            <file>functions.php</file>
        </include>
    </coverage>

    <php>
        <server name="TEST_SERVER" value="http://127.0.0.1:10000/server.php"/>
    </php>

    <testsuites>
        <testsuite name="Main Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
