name: "Review PR"

on:
  pull_request:

jobs:

  # This job ensures the coding standard is followed
  coding-standards:
    name: "Coding Standards"
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        php-version:
          - "7.4"
        operating-system:
          - "ubuntu-latest"
    steps:
      - name: "Checkout Code"
        uses: "actions/checkout@v2"
      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "pcov"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1
          tools: composer:v2, cs2pr
      - name: "Use Cache"
        uses: "actions/cache@v2"
        with:
          path: |
            ~/.composer/cache
          key: "php-${{ matrix.php-version }}-highest"
          restore-keys: "php-${{ matrix.php-version }}-highest"
      - name: "Install highest dependencies"
        run: "composer update --no-interaction --no-progress"
      - name: "Coding Standard"
        run: "vendor/bin/php-cs-fixer fix -vvv --dry-run --format=checkstyle | cs2pr"

  type-analysis:
    name: "Type Coverage"
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        php-version:
          - "7.4"
        operating-system:
          - "ubuntu-latest"
    steps:
      - name: "Checkout Code"
        uses: "actions/checkout@v2"
      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "pcov"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1
          tools: composer:v2
      - name: "Use Cache"
        uses: "actions/cache@v2"
        with:
          path: |
            ~/.composer/cache
          key: "php-${{ matrix.php-version }}-highest"
          restore-keys: "php-${{ matrix.php-version }}-highest"
      - name: "Install highest dependencies"
        run: "composer update --no-interaction --no-progress"
      - name: "Run Psalm"
        run: "vendor/bin/psalm  --output-format=github --shepherd --stats"

  unit-test:
    name: "Unit Testing"
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        dependencies:
          - "lowest"
          - "highest"
        php-version:
          - "7.4"
          - "8.0"
        operating-system:
          - "ubuntu-latest"
    steps:
      - name: "Checkout Code"
        uses: "actions/checkout@v2"
      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "pcov"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1
          tools: composer:v2
      - name: "Use Cache"
        uses: "actions/cache@v2"
        with:
          path: |
            ~/.composer/cache
          key: "php-${{ matrix.php-version }}-${{ matrix.dependencies }}"
          restore-keys: "php-${{ matrix.php-version }}-${{ matrix.dependencies }}"
      - name: "Install lowest dependencies"
        if: ${{ matrix.dependencies == 'lowest' }}
        run: "composer update --prefer-lowest --no-interaction --no-progress --ignore-platform-reqs"
      - name: "Install highest dependencies"
        if: ${{ matrix.dependencies == 'highest' }}
        run: "composer update --no-interaction --no-progress --ignore-platform-reqs"
#      - name: "Install locked dependencies"
#        if: ${{ matrix.dependencies == 'locked' }}
#        run: "composer install --no-interaction --no-progress --ignore-platform-reqs"
      - name: "Run PHPUnit"
        run: "vendor/bin/phpunit --testdox --coverage-text"
